
.head {
  padding-top: 20px;
}
#h1 {
  font-family: Sofia, sans-serif;
  font-weight: bold;
  font-style: italic;
}
#h3{
  font-family: Beth Ellen, cursive;
  font-style: italic;
}
#nab {
  margin-top: 40px;
}
#img {
  width: 25px;
  height: auto;
}
#img12 {
  width: 100%;
  height: 550px;
}
.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.btn {
  width: 80%;
  height: auto;
  margin-top: 20px;
}
.rectangle {
  width: 100%;
  height: auto;
  border: 2px solid black;
  margin-top: 30px;
  background-color: transparent;
  opacity: 80%;
  padding: 15px;
}
.shape {
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: transparent;
  opacity: 80%;
  padding: 15px;
}
.shape span {
  margin-left: 80%;
}
#no img{
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.k img {
  width: 100%;
  height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.footer {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}



}
